body {
   linear-gradient: exact;
    -webkit-print-color-adjust: exact;
    linear-gradient-color-adjust: exact;
    -o-color-adjust: exact;
    color-adjust: exact;
}
   }
* {  
	box-sizing:border-box;
}
.head_a{
	display:flex;width:100%;height:65px;background:#96cbf8 !important;margin:0;padding:0;position:absolute;left:0;top:0;
}
.head_a div:first-child img{
	width:50px;height:50px;	
}
.head_a div:last-child h3, .head_a div:last-child h4{
	color:white !important;text-transform:capitalize;text-align:center;margin:0;padding:0;
	text-shadow:1px 1px 1px rgba(0,0,0,.09);font-size:1em;
}
.head_a div:last-child h3{
	margin-top:15px;padding:0;margin-left:0px;
}
.head_a div:last-child h4{
	margin-left:5px;text-align: center;margin-top:2px;
}
body {
  	margin-top:80px;     
  	font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  }
.card {  
	position:relative;  
	height:195px;
	width:320px;  
	margin:0 auto;  
	background:#fff !important;  
	border-radius:4px;   
	box-shadow:    inset 0 0 0 1px rgba(0, 0, 0, .1),    0 0 10px rgba(0, 0, 0, .08),    0 2px 10px rgba(0, 0, 0, .07)  ;
}

.card header {  
	position:relative;    
	height:33.5%;  
	width:100%;  
	border-top-left-radius:4px;  
	border-top-right-radius:4px;  
	border-bottom:2px solid rgba(180, 80, 80, .5);
	box-shadow:    inset 0 1px 0 0 rgba(255, 120, 120, .8),    0 1px 2px rgba(0, 0, 0, .4)  ;    
	padding:25px 20px;  
	opacity:.9;
}
.card header:after {  
	position:absolute;  
	content:'';  
	left:1px;  
	top:1px;  
	width:100%;  
	height:10px;  
	background:    linear-gradient(bottom, rgba(255,255,255, .1) 0%, rgba(255,255,255,.05) 70%, rgba(255,255,255,0) 100%);
}
.card header h1 {  
	color:#fff !important;  
	line-height:90%;  
	font-size:35px;  
	margin:0;  
	text-shadow:-1px -1px 1px rgba(0, 0, 0, .5);
}
.card article {  
	padding:10px;height:100%;
}
.card article img {  
	border:2px solid #fff !important;  
	box-shadow:0 0 3px rgba(0, 0, 0, .25);  
	float:left;  
	margin-right:10px;  
	margin-top:12px;
	width:80px;  
	height:95px;  
	transition:all .3s ease-in-out;
}
.card article p:nth-of-type(1){
	margin-top:7px;
}
.card article p:nth-of-type(1), article span {  
	color:#FFF !important;  
	float:left; 
	font-family:sans-serif;
	text-shadow:1px 1px 2px rgba(0,0,0,.09), 0 0 2px rgba(0,0,0,.1); 
	font-weight:bold;
	text-transform:capitalize;
	padding:0 0 1px 0;
	width:60%;  
	line-height:15px;
	text-align:left;
	font-size:0.60em;
}
article span {
	color:red;margin-top:-15px;width:60%;display:block;
}
.card article .area {  
	position:relative;  
	padding:0;  
	width:180px;
	float:left; 
	padding-bottom:5px;
	margin-top:0px;
}
.card article .area h3 {  
	margin:0;  
	color:#5F6163 !important;  
	font-size:9px;
}
.card article .area ul {  
	margin:18px 0 5px 0;  
	padding:0;	
	color:#FFF !important;
	list-style:none;
}
.card article .area ul li:nth-of-type(1){
	margin-top:-15px;
}
.card article .area ul li b{
	color: #FFF !important;
}
.card article .area ul li {  
	margin:0;  
	font-size:8.2px;
	text-transform:capitalize; 
	color:#FFF !important;
	text-shadow:2px 1px 1px rgba(0,0,0,.1);  
	text-shadow:0 0 1px rgba(0, 0, 0, .3);
}
.card article .area ul li .bar {  
	position:relative; 
	 width:0px;  
	 height:15px;  
	 display:inline-block;  
	 border-radius:50px;  
	 float:right;  
	 margin:0 15px 0 0;    
	 opacity:.9;    
	 background-color:#CACACA !important;  
	 box-shadow: inset 0 2px 2px rgba(0, 0, 0, .35);
}
.card article .area ul li .bar:before {  
	position:absolute;  
	left:0;  
	width:0;  
	height:15px;  
	background: rgb(254,213,121) !important;     
	background-image:    linear-gradient(to right, rgba(254,213,121,.8) 0%,rgba(254,204,105,.8) 100%),    
							repeating-linear-gradient(-45deg, transparent,       
						 transparent 4px,       rgba(255,255,255,.5) 4px,       rgba(255,255,255,.5) 10px);
	box-shadow:    inset 0 4px 4px rgba(255, 255, 255, .3),    inset 0 -2px 3px rgba(0, 0, 0, .05),    0 1px 0 0px #D29D40  ;  
	display:inline-block;  
	border-radius:50px;  
	content:'';  
	z-index:-1;
}

